       {% extends 'base/base.html' %}
       {% block content %}
       {%load static%}
      <!-- End Header -->
		
		<!-- Promo Block -->
      <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall" data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
        <div class="divimage dzsparallaxer--target w-100 g-bg-pos-top-center g-bg-cover g-bg-black-opacity-0_1--after" style="height: 140%; background-image: url(assets/img-temp/1920x1080/img3.jpg);"></div>

        <div class="container g-color-white g-pt-100 g-pb-40">
          <div class="g-mb-50">
            <span class="d-block g-color-white-opacity-0_8 g-font-weight-300 g-font-size-20">Awal</span>
            <h3 class="g-color-white g-font-size-50 g-font-size-90--md g-line-height-1_2 mb-0">Categories</h3>
          </div>

          <div class="d-flex justify-content-end">
            <ul class="u-list-inline g-bg-gray-dark-v1 g-font-weight-300 g-rounded-50 g-py-5 g-px-20">
              <li class="list-inline-item g-mr-5">
                <a class="u-link-v5 g-color-white g-color-primary--hover" href="#">Home</a>
                <i class="g-color-white-opacity-0_5 g-ml-5">/</i>
              </li>
              
              <li class="list-inline-item g-color-white g-font-weight-400">
                <span>Categories</span>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <!-- End Promo Block -->	
      
      
	  
	  <!-- Products -->
      <div class="container">
        <!-- Products -->
        <div class="row g-pt-30 g-mb-50">
          
			<div class="col-sm-6 col-lg-3 g-px-10 g-mb-30">
              <div class="u-shadow-v21 shadow-lg">
                <div class="g-pos-rel">
                  <!-- Product Image -->
                  <div class="js-carousel text-center g-rounded-50 g-bg-gray-light-v5 g-py-3"
                       data-infinite="true"
                       data-fade="true"
                       data-autoplay="true">
                    <div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/1.png'%}" alt="Image Description">
                    </div>
                    <div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/2.png'%}" alt="Image Description">
                    </div>
                    <div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/3.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/4.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/5.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/6.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/7.png'%}" alt="Image Description">
                    </div>
                  </div>
                  <!-- End Product Image -->

                  <!-- Product Info -->
                  <div class="text-center g-pos-abs g-bottom-20 g-left-0 g-right-0">
                    

                    <h2 class="g-color-white-opacity-0_8 g-font-weight-400 g-font-size-13">
                      <a class="u-link-v5 g-color-white-opacity-0_8 g-color-primary--hover g-cursor-pointer" href="{% url 'home:view' %}">Art 2</a>
                    </h2>
                    <span class="g-color-white g-font-weight-600 g-font-size-20">BH 676.00</span>
                  </div>
                  <!-- End Product Info -->
                </div>

                <!-- Product Size -->
                <div class="g-bg-white g-pa-20">
                  <h4 class="g-font-size-11 text-center text-uppercase">Colour</h4>

                  <div class="d-flex justify-content-between align-items-center">
                    <a class="col-2 u-icon-v1 u-icon-size--sm g-color-gray-dark-v3 g-color-primary--hover g-font-size-15 rounded-circle" href="#" title="Add to Wishlist"
                       data-toggle="tooltip"
                       data-placement="top">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>

                    <div class="col-7">
                      <p class="text-center">Green</p>
                      <!-- End Checkbox -->
                    </div>

                    <a class="col-2 u-icon-v1 u-icon-size--sm g-color-gray-dark-v3 g-color-primary--hover g-font-size-15 rounded-circle" href="#" title="Add to Cart"
                       data-toggle="tooltip"
                       data-placement="top">
                      <i class="icon-finance-100 u-line-icon-pro"></i>
                    </a>
                  </div>
                </div>
                <!-- End Product Size -->
              </div>
            </div>
			
			<div class="col-sm-6 col-lg-3 g-px-10 g-mb-30">
              <div class="u-shadow-v21 shadow-lg">
                <div class="g-pos-rel">
                  <!-- Product Image -->
                  <div class="js-carousel text-center g-rounded-50 g-bg-gray-light-v5 g-py-3"
                       data-infinite="true"
                       data-fade="true"
                       data-autoplay="true">
                    <div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/1.png'%}" alt="Image Description">
                    </div>
                    <div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/2.png'%}" alt="Image Description">
                    </div>
                    <div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/3.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/4.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/5.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/6.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/7.png'%}" alt="Image Description">
                    </div>
                  </div>
                  <!-- End Product Image -->

                  <!-- Product Info -->
                  <div class="text-center g-pos-abs g-bottom-20 g-left-0 g-right-0">
                    

                    <h2 class="g-color-white-opacity-0_8 g-font-weight-400 g-font-size-13">
                      <a class="u-link-v5 g-color-white-opacity-0_8 g-color-primary--hover g-cursor-pointer" href="{% url 'home:view' %}">Art 2</a>
                    </h2>
                    <span class="g-color-white g-font-weight-600 g-font-size-20">BH 676.00</span>
                  </div>
                  <!-- End Product Info -->
                </div>

                <!-- Product Size -->
                <div class="g-bg-white g-pa-20">
                  <h4 class="g-font-size-11 text-center text-uppercase">Colour</h4>

                  <div class="d-flex justify-content-between align-items-center">
                    <a class="col-2 u-icon-v1 u-icon-size--sm g-color-gray-dark-v3 g-color-primary--hover g-font-size-15 rounded-circle" href="#" title="Add to Wishlist"
                       data-toggle="tooltip"
                       data-placement="top">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>

                    <div class="col-7">
                      <p class="text-center">Green</p>
                      <!-- End Checkbox -->
                    </div>

                    <a class="col-2 u-icon-v1 u-icon-size--sm g-color-gray-dark-v3 g-color-primary--hover g-font-size-15 rounded-circle" href="#" title="Add to Cart"
                       data-toggle="tooltip"
                       data-placement="top">
                      <i class="icon-finance-100 u-line-icon-pro"></i>
                    </a>
                  </div>
                </div>
                <!-- End Product Size -->
              </div>
            </div>
			
			<div class="col-sm-6 col-lg-3 g-px-10 g-mb-30">
              <div class="u-shadow-v21 shadow-lg">
                <div class="g-pos-rel">
                  <!-- Product Image -->
                  <div class="js-carousel text-center g-rounded-50 g-bg-gray-light-v5 g-py-3"
                       data-infinite="true"
                       data-fade="true"
                       data-autoplay="true">
                    <div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/1.png'%}" alt="Image Description">
                    </div>
                    <div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/2.png'%}" alt="Image Description">
                    </div>
                    <div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/3.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/4.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/5.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/6.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/7.png'%}" alt="Image Description">
                    </div>
                  </div>
                  <!-- End Product Image -->

                  <!-- Product Info -->
                  <div class="text-center g-pos-abs g-bottom-20 g-left-0 g-right-0">
                    

                    <h2 class="g-color-white-opacity-0_8 g-font-weight-400 g-font-size-13">
                      <a class="u-link-v5 g-color-white-opacity-0_8 g-color-primary--hover g-cursor-pointer" href="{% url 'home:view' %}">Art 2</a>
                    </h2>
                    <span class="g-color-white g-font-weight-600 g-font-size-20">BH 676.00</span>
                  </div>
                  <!-- End Product Info -->
                </div>

                <!-- Product Size -->
                <div class="g-bg-white g-pa-20">
                  <h4 class="g-font-size-11 text-center text-uppercase">Colour</h4>

                  <div class="d-flex justify-content-between align-items-center">
                    <a class="col-2 u-icon-v1 u-icon-size--sm g-color-gray-dark-v3 g-color-primary--hover g-font-size-15 rounded-circle" href="#" title="Add to Wishlist"
                       data-toggle="tooltip"
                       data-placement="top">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>

                    <div class="col-7">
                      <p class="text-center">Green</p>
                      <!-- End Checkbox -->
                    </div>

                    <a class="col-2 u-icon-v1 u-icon-size--sm g-color-gray-dark-v3 g-color-primary--hover g-font-size-15 rounded-circle" href="#" title="Add to Cart"
                       data-toggle="tooltip"
                       data-placement="top">
                      <i class="icon-finance-100 u-line-icon-pro"></i>
                    </a>
                  </div>
                </div>
                <!-- End Product Size -->
              </div>
            </div>
			
			<div class="col-sm-6 col-lg-3 g-px-10 g-mb-30">
              <div class="u-shadow-v21 shadow-lg">
                <div class="g-pos-rel">
                  <!-- Product Image -->
                  <div class="js-carousel text-center g-rounded-50 g-bg-gray-light-v5 g-py-3"
                       data-infinite="true"
                       data-fade="true"
                       data-autoplay="true">
                    <div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/1.png'%}" alt="Image Description">
                    </div>
                    <div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/2.png'%}" alt="Image Description">
                    </div>
                    <div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/3.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/4.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/5.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/6.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/7.png'%}" alt="Image Description">
                    </div>
                  </div>
                  <!-- End Product Image -->

                  <!-- Product Info -->
                  <div class="text-center g-pos-abs g-bottom-20 g-left-0 g-right-0">
                    

                    <h2 class="g-color-white-opacity-0_8 g-font-weight-400 g-font-size-13">
                      <a class="u-link-v5 g-color-white-opacity-0_8 g-color-primary--hover g-cursor-pointer" href="{% url 'home:view' %}">Art 2</a>
                    </h2>
                    <span class="g-color-white g-font-weight-600 g-font-size-20">BH 676.00</span>
                  </div>
                  <!-- End Product Info -->
                </div>

                <!-- Product Size -->
                <div class="g-bg-white g-pa-20">
                  <h4 class="g-font-size-11 text-center text-uppercase">Colour</h4>

                  <div class="d-flex justify-content-between align-items-center">
                    <a class="col-2 u-icon-v1 u-icon-size--sm g-color-gray-dark-v3 g-color-primary--hover g-font-size-15 rounded-circle" href="#" title="Add to Wishlist"
                       data-toggle="tooltip"
                       data-placement="top">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>

                    <div class="col-7">
                      <p class="text-center">Green</p>
                      <!-- End Checkbox -->
                    </div>

                    <a class="col-2 u-icon-v1 u-icon-size--sm g-color-gray-dark-v3 g-color-primary--hover g-font-size-15 rounded-circle" href="#" title="Add to Cart"
                       data-toggle="tooltip"
                       data-placement="top">
                      <i class="icon-finance-100 u-line-icon-pro"></i>
                    </a>
                  </div>
                </div>
                <!-- End Product Size -->
              </div>
            </div>
			
			<div class="col-sm-6 col-lg-3 g-px-10 g-mb-30">
              <div class="u-shadow-v21 shadow-lg">
                <div class="g-pos-rel">
                  <!-- Product Image -->
                  <div class="js-carousel text-center g-rounded-50 g-bg-gray-light-v5 g-py-3"
                       data-infinite="true"
                       data-fade="true"
                       data-autoplay="true">
                    <div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/1.png'%}" alt="Image Description">
                    </div>
                    <div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/2.png'%}" alt="Image Description">
                    </div>
                    <div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/3.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/4.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/5.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/6.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/7.png'%}" alt="Image Description">
                    </div>
                  </div>
                  <!-- End Product Image -->

                  <!-- Product Info -->
                  <div class="text-center g-pos-abs g-bottom-20 g-left-0 g-right-0">
                    

                    <h2 class="g-color-white-opacity-0_8 g-font-weight-400 g-font-size-13">
                      <a class="u-link-v5 g-color-white-opacity-0_8 g-color-primary--hover g-cursor-pointer" href="{% url 'home:view' %}">Art 2</a>
                    </h2>
                    <span class="g-color-white g-font-weight-600 g-font-size-20">BH 676.00</span>
                  </div>
                  <!-- End Product Info -->
                </div>

                <!-- Product Size -->
                <div class="g-bg-white g-pa-20">
                  <h4 class="g-font-size-11 text-center text-uppercase">Colour</h4>

                  <div class="d-flex justify-content-between align-items-center">
                    <a class="col-2 u-icon-v1 u-icon-size--sm g-color-gray-dark-v3 g-color-primary--hover g-font-size-15 rounded-circle" href="#" title="Add to Wishlist"
                       data-toggle="tooltip"
                       data-placement="top">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>

                    <div class="col-7">
                      <p class="text-center">Green</p>
                      <!-- End Checkbox -->
                    </div>

                    <a class="col-2 u-icon-v1 u-icon-size--sm g-color-gray-dark-v3 g-color-primary--hover g-font-size-15 rounded-circle" href="#" title="Add to Cart"
                       data-toggle="tooltip"
                       data-placement="top">
                      <i class="icon-finance-100 u-line-icon-pro"></i>
                    </a>
                  </div>
                </div>
                <!-- End Product Size -->
              </div>
            </div>
			
			<div class="col-sm-6 col-lg-3 g-px-10 g-mb-30">
              <div class="u-shadow-v21 shadow-lg">
                <div class="g-pos-rel">
                  <!-- Product Image -->
                  <div class="js-carousel text-center g-rounded-50 g-bg-gray-light-v5 g-py-3"
                       data-infinite="true"
                       data-fade="true"
                       data-autoplay="true">
                    <div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/1.png'%}" alt="Image Description">
                    </div>
                    <div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/2.png'%}" alt="Image Description">
                    </div>
                    <div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/3.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/4.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/5.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/6.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/7.png'%}" alt="Image Description">
                    </div>
                  </div>
                  <!-- End Product Image -->

                  <!-- Product Info -->
                  <div class="text-center g-pos-abs g-bottom-20 g-left-0 g-right-0">
                    

                    <h2 class="g-color-white-opacity-0_8 g-font-weight-400 g-font-size-13">
                      <a class="u-link-v5 g-color-white-opacity-0_8 g-color-primary--hover g-cursor-pointer" href="{% url 'home:view' %}">Art 2</a>
                    </h2>
                    <span class="g-color-white g-font-weight-600 g-font-size-20">BH 676.00</span>
                  </div>
                  <!-- End Product Info -->
                </div>

                <!-- Product Size -->
                <div class="g-bg-white g-pa-20">
                  <h4 class="g-font-size-11 text-center text-uppercase">Colour</h4>

                  <div class="d-flex justify-content-between align-items-center">
                    <a class="col-2 u-icon-v1 u-icon-size--sm g-color-gray-dark-v3 g-color-primary--hover g-font-size-15 rounded-circle" href="#" title="Add to Wishlist"
                       data-toggle="tooltip"
                       data-placement="top">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>

                    <div class="col-7">
                      <p class="text-center">Green</p>
                      <!-- End Checkbox -->
                    </div>

                    <a class="col-2 u-icon-v1 u-icon-size--sm g-color-gray-dark-v3 g-color-primary--hover g-font-size-15 rounded-circle" href="#" title="Add to Cart"
                       data-toggle="tooltip"
                       data-placement="top">
                      <i class="icon-finance-100 u-line-icon-pro"></i>
                    </a>
                  </div>
                </div>
                <!-- End Product Size -->
              </div>
            </div>
			
			<div class="col-sm-6 col-lg-3 g-px-10 g-mb-30">
              <div class="u-shadow-v21 shadow-lg">
                <div class="g-pos-rel">
                  <!-- Product Image -->
                  <div class="js-carousel text-center g-rounded-50 g-bg-gray-light-v5 g-py-3"
                       data-infinite="true"
                       data-fade="true"
                       data-autoplay="true">
                    <div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/1.png'%}" alt="Image Description">
                    </div>
                    <div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/2.png'%}" alt="Image Description">
                    </div>
                    <div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/3.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/4.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/5.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/6.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/7.png'%}" alt="Image Description">
                    </div>
                  </div>
                  <!-- End Product Image -->

                  <!-- Product Info -->
                  <div class="text-center g-pos-abs g-bottom-20 g-left-0 g-right-0">
                    

                    <h2 class="g-color-white-opacity-0_8 g-font-weight-400 g-font-size-13">
                      <a class="u-link-v5 g-color-white-opacity-0_8 g-color-primary--hover g-cursor-pointer" href="{% url 'home:view' %}">Art 2</a>
                    </h2>
                    <span class="g-color-white g-font-weight-600 g-font-size-20">BH 676.00</span>
                  </div>
                  <!-- End Product Info -->
                </div>

                <!-- Product Size -->
                <div class="g-bg-white g-pa-20">
                  <h4 class="g-font-size-11 text-center text-uppercase">Colour</h4>

                  <div class="d-flex justify-content-between align-items-center">
                    <a class="col-2 u-icon-v1 u-icon-size--sm g-color-gray-dark-v3 g-color-primary--hover g-font-size-15 rounded-circle" href="#" title="Add to Wishlist"
                       data-toggle="tooltip"
                       data-placement="top">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>

                    <div class="col-7">
                      <p class="text-center">Green</p>
                      <!-- End Checkbox -->
                    </div>

                    <a class="col-2 u-icon-v1 u-icon-size--sm g-color-gray-dark-v3 g-color-primary--hover g-font-size-15 rounded-circle" href="#" title="Add to Cart"
                       data-toggle="tooltip"
                       data-placement="top">
                      <i class="icon-finance-100 u-line-icon-pro"></i>
                    </a>
                  </div>
                </div>
                <!-- End Product Size -->
              </div>
            </div>
			
			<div class="col-sm-6 col-lg-3 g-px-10 g-mb-30 ">
              <div class="u-shadow-v21 shadow-lg">
                <div class="g-pos-rel">
                  <!-- Product Image -->
                  <div class="js-carousel text-center g-rounded-50 g-bg-gray-light-v5 g-py-3"
                       data-infinite="true"
                       data-fade="true"
                       data-autoplay="true">
                    <div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/1.png'%}" alt="Image Description">
                    </div>
                    <div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/2.png'%}" alt="Image Description">
                    </div>
                    <div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/3.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/4.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/5.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/6.png'%}" alt="Image Description">
                    </div>
					<div class="js-slide">
                      <img class="img-fluid" src="{% static 'assets/img/art/2/7.png'%}" alt="Image Description">
                    </div>
                  </div>
                  <!-- End Product Image -->

                  <!-- Product Info -->
                  <div class="text-center g-pos-abs g-bottom-20 g-left-0 g-right-0">
                    

                    <h2 class="g-color-white-opacity-0_8 g-font-weight-400 g-font-size-13">
                      <a class="u-link-v5 g-color-white-opacity-0_8 g-color-primary--hover g-cursor-pointer" href="{% url 'home:view' %}">Art 2</a>
                    </h2>
                    <span class="g-color-white g-font-weight-600 g-font-size-20">BH 676.00</span>
                  </div>
                  <!-- End Product Info -->
                </div>

                <!-- Product Size -->
                <div class="g-bg-white g-pa-20">
                  <h4 class="g-font-size-11 text-center text-uppercase">Colour</h4>

                  <div class="d-flex justify-content-between align-items-center">
                    <a class="col-2 u-icon-v1 u-icon-size--sm g-color-gray-dark-v3 g-color-primary--hover g-font-size-15 rounded-circle" href="#" title="Add to Wishlist"
                       data-toggle="tooltip"
                       data-placement="top">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>

                    <div class="col-7">
                      <p class="text-center">Green</p>
                      <!-- End Checkbox -->
                    </div>

                    <a class="col-2 u-icon-v1 u-icon-size--sm g-color-gray-dark-v3 g-color-primary--hover g-font-size-15 rounded-circle" href="#" title="Add to Cart"
                       data-toggle="tooltip"
                       data-placement="top">
                      <i class="icon-finance-100 u-line-icon-pro"></i>
                    </a>
                  </div>
                </div>
                <!-- End Product Size -->
              </div>
            </div>
		  
		  
		  
		</div>
		
		<hr class="g-mb-60">
		
		
		<!-- Pagination -->
        <nav class="g-mb-100" aria-label="Page Navigation">
          <ul class="list-inline mb-0">
            <li class="list-inline-item hidden-down">
              <a class="active u-pagination-v1__item g-width-30 g-height-30 g-brd-gray-light-v3 g-brd-primary--active g-color-white g-bg-primary--active g-font-size-12 rounded-circle g-pa-5" href="#">1</a>
            </li>
            <li class="list-inline-item hidden-down">
              <a class="u-pagination-v1__item g-width-30 g-height-30 g-color-gray-dark-v5 g-color-primary--hover g-font-size-12 rounded-circle g-pa-5" href="#">2</a>
            </li>
            <li class="list-inline-item g-hidden-xs-down">
              <a class="u-pagination-v1__item g-width-30 g-height-30 g-color-gray-dark-v5 g-color-primary--hover g-font-size-12 rounded-circle g-pa-5" href="#">3</a>
            </li>
            <li class="list-inline-item hidden-down">
              <span class="g-width-30 g-height-30 g-color-gray-dark-v5 g-font-size-12 rounded-circle g-pa-5">...</span>
            </li>
            <li class="list-inline-item g-hidden-xs-down">
              <a class="u-pagination-v1__item g-width-30 g-height-30 g-color-gray-dark-v5 g-color-primary--hover g-font-size-12 rounded-circle g-pa-5" href="#">15</a>
            </li>
            <li class="list-inline-item">
              <a class="u-pagination-v1__item g-width-30 g-height-30 g-brd-gray-light-v3 g-brd-primary--hover g-color-gray-dark-v5 g-color-primary--hover g-font-size-12 rounded-circle g-pa-5 g-ml-15" href="#" aria-label="Next">
                <span aria-hidden="true">
                  <i class="fa fa-angle-right"></i>
                </span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            <li class="list-inline-item float-right">
              <span class="u-pagination-v1__item-info g-color-gray-dark-v4 g-font-size-12 g-pa-5">Page 1 of 15</span>
            </li>
          </ul>
        </nav>
        <!-- End Pagination -->
	  </div>		
      
	  
	   

      

	  
	  

     

      

      <!-- Footer -->
      {% endblock %}